<!-- <h1>Contact#home_form</h1>

<p>
  <%= @greeting %>, find me in app/views/contact_mailer/home_form.html.erb
</p> -->

<p>You have received an email from btt-photo-app-z!</p>
<p>Name: <%= @name %></p>
<p>Email: <%= @email %></p>
<p>Message: <%= @messagee %></p>
